<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.ui.tracetype">
      <type
            event_type="org.eclipse.linuxtools.tmf.core.event.TmfEvent"
            icon="icons/sample_decorator.gif"
            id="net.sf.milkfish.systrace.android.core.AndroidTrace"
            name="AndroidTrace"
            trace_type="net.sf.milkfish.systrace.android.core.AndroidTrace">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.sf.milkfish.systrace.android.ui.views.ControlFlowViewWrapper"
            icon="icons/sample_decorator.gif"
            id="net.sf.milkfish.systrace.android.ui.views.controlflow.ControlFlowView"
            name="Controlflow"
            restorable="true">
      </view>
      <view
            class="net.sf.milkfish.systrace.android.ui.views.ResourceViewWrapper"
            icon="icons/sample_decorator.gif"
            id="net.sf.milkfish.systrace.android.ui.views.resources.ResourcesView"
            name="Resource"
            restorable="true">
      </view>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
</plugin>
