<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="milkfish-e4.3" sequenceNumber="30">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130517111416/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.generator.feature.feature.group" version="2.2.1.201402241301"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.antlr.runtime" version="3.2.0.v201101311130"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130517111416/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.test.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rse.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tm/updates/3.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="12.0.0.v201212092141"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130517111416/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.net" version="3.2.0.v201305141515"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130517111416/repository/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Xms40m&#13;
-Xmx512M&#13;
-XX:MaxPermSize=256m</vmArgs>
<programArgs>-consolelog</programArgs>
</launcherArgs>
</target>
