<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="net.sf.milkfish.product"
            application="net.sf.milkfish.product.application">
         <property
               name="applicationCSS"
               value="platform:/plugin/net.sf.milkfish.product/css/default.css">
         </property>
         <property
               name="appName"
               value="net.sf.milkfish.product">
         </property>
         <property
               name="applicationXMI"
               value="net.sf.milkfish.product/Application.e4xmi">
         </property>
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://net.sf.milkfish.product/net.sf.milkfish.product.handlers.LifeCycleHandler">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="Linux Tools SysTrace Viewer&#x0A;&#x0A;Version: 1.0.0">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.milkfish.product.application.Application">
         </run>
      </application>
   </extension>
   
</plugin>
